/* 
		GENERAL
		   			*/
body, .container{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	flex-direction: column;
}

.yellow {
	color:rgba(240,255,0,1);
}

@font-face {
	font-family: 'Strongwild Demo';
	src: url('../font/Strongwild Demo.ttf');
	font-weight: 400!important;
	font-style: normal;
}

h1, h5 {
	font-family: 'Strongwild Demo';
	font-size: 3em!important;
	font-weight:500;
}

/* 
		HEADER 
		 			*/
header {
	width:100%;
	margin:0;
	padding:0;
	display:flex;
	height:auto;
}

#menu-bar-grey {
	width:100%;
	height:100px;
	display:flex;
	flex-direction: row;
	background-color: rgba(50,50,50,1);
}

.logo-grey, .menu-grey {
	margin:20px;
	display: flex;
	width:50%;
	align-items: center;
	color:white;
}

.menu-grey {
	flex-direction: row-reverse;
}

.menu-grey a {
	margin-right:15px;
	text-decoration: none; 
	color:white;
	font-family: 'Arial';
}

.menu-grey a:hover {
	color:rgba(240,255,0,1);
}

/* ************************ VIEW ZONE ***************************** */
/* 
		CONTENT
					*/
.content {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(74,74,128,0.9);
	padding-top:100px;
	padding-bottom:100px;
}

/* 
		LOGIN & SUBSCRIBE
							*/
.session {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100%;
	color: white;
}

.session h3 {
	color:rgba(240,255,0,1);
}


.session a {
	text-decoration: none;
	color: rgba(46,46,80,1);
	font-family: 'Arial';
}

.session a:hover {
	text-decoration: none;
	color: white;
	font-family: 'Arial';
}

.session label {
	font-family: 'Arial';
}
/* 
		CONFIRM PAGE
							*/
.confirm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.confirm-zone {
	margin:25px;
	color: white;
}

.confirm a {
	text-decoration: none;
}

.confirm .yes:hover {
	color:red;
	font-weight: 700;
	border: solid 1px red;
}

.confirm .back, .yes {
	color:white;
	border: solid 1px white;
	padding:5px;
}
.confirm .back:hover {
	color:rgba(240,255,0,1);
	border: solid 1px rgba(240,255,0,1);
	padding:5px;
}
/* 
		INTERFACE APP
							*/

.appli-content {
	display:flex;
	width:100%;
	height:auto;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
	flex-grow: 1;
	justify-content: space-between;
}

.appli-content p, h3, a{
	font-family: 'Arial';
	margin:2px;
}

#tickets {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	width:100%;
	height:auto;
	justify-content: center;
	background-color: rgba(74,74,128,0.9);
}

.ticket {
	display: block;
	width: 400px;
	min-height:350px;
	height:auto;
	margin-top:60px; 
	margin-left:0; 
	margin-right:0px; 
	margin-bottom:60px;
}

.notepad {
	position:relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height:auto;
}

.pagin p{
	color: rgba(240,255,0,1);
}

.ticket-write p{
	color: rgba(64,64,111,1);
}

.pagin {
	display: flex;
	flex-direction: row;
}

.pagin a {
	text-decoration: none;
	color:white;
}

.square {
	border: solid 1px rgba(64,64,111,1);
	width:20px;
	height:20px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:1px;
}

.square-current {
	border: solid 1px rgba(240,255,0,1);
}

.square-hover:hover {
	border: solid 1px rgba(240,255,0,1);
	cursor: pointer;
}

.arrow-down {
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 15px solid rgba(64,64,111,1);
  	position:absolute;
  	bottom:-17px;
  	right:40px;
}

.cross {
	position:absolute;
	color:rgba(50,50,50,0.3);
  	top:10px;
  	right:10px;
}

.cross:hover {
	color:rgba(50,50,50,0.5);
}

.noteform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.noteform input {
	display: none;
}
.submit {
	color: rgba(64,64,111,1);
	cursor: pointer;
}

.submit:hover {
	color: white;
}

.noteform h5, p {
	color: white;
	margin:10px;
	overflow:auto;
}

.ticket-write {
	border: solid 3px rgba(64,64,111,1);
	border-radius: 5px;
	position: relative;
	width:90%;
	height:auto;
	text-align: justify;
	padding:10px;
	margin-bottom:20px;
	background-color: rgba(255,255,255,1);
}

#app-zone {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width:100%;
	height:auto;
}

#app-zone p {
	color:white;
}

.modules {
	display:flex;
	position:relative;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height:400px;
	min-width: 400px;
	width:25%;
}

.modules a {
	color: rgba(240,255,0,1);
	text-decoration: none;
	margin-top: 10px;
}

.status-module {
	background-color: rgba(46,46,80,1);
}

.note-module {
	background-color: rgba(100,100,172,1);
}

.note-module h5{
	color: white;
	font-family: 'Arial';
}

.expert-module {
	background-color: rgba(74,74,128,1);
	text-align: left;
}

.expert-stats .stat{
	width:50px;
	height:50px;
	display:inline-flex;
	justify-content: center;
	align-items: center;
	border:1px solid rgba(240,255,0,1);
}

.stat i:hover {
	color:rgba(240,255,0,1);
}

.profile-module {
	background-color: rgba(64,64,111,1);
}

.profile-module h3 {
	color: white;
}

#avatar {
	border: 1px solid white;
	position:relative;
	width:100px;
	height:120px;
	display:flex;
	align-items: center;
	justify-content: center;
}

#avatar img {
	width: 95px;
	height:115px;
}

.hover-hidden {
	position:absolute;
	left:0;
	top:0;
	width:100px;
	height:120px;
	opacity: 0;
	background-color: rgba(64,64,111,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.hover-hidden a {
	text-decoration: none;
	padding:2px;
	color:rgba(240,255,0,1);
	border: 1px solid white;
	background-color: rgba(64,64,111,1);
}

.hover-hidden a:hover {
	border: 1px solid rgba(240,255,0,1);
	color:rgba(240,255,0,1);
}

.hover-hidden:hover {
	opacity: 1;
}

@media screen and (max-width: 640px) {
	.ticket {
		width:100%;
		margin:0;
	}
	.modules {
		width:100%;
		min-width: 300px;
	}
	footer {
		margin:0;
	}
}

/* ************************ FORM ***************************** */
/* 
		FORM
					*/

.session {
	margin-bottom: 10px;
}
.input-form {
	display: none;
}

.button-form {
	padding:5px;
	border: 1px solid white;
	cursor: pointer;
}

.button-form:hover {
	border: 1px solid rgba(240,255,0,1);
	color:rgba(240,255,0,1);
}


/* ************************ FOOTER ***************************** */
/* 
		FOOTER
					*/

footer {
	margin:0;
	padding:0;
	width:100%;
	margin-top: 20px;
}

.footer {
	text-align: center;
}

.footer p, a {
	margin:0;
	padding:0;
	font-family: 'Arial';
	color: grey;
}