/* 
		GENERAL
		   			*/
body, .container{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	flex-direction: column;
}

.yellow {
	color:rgba(240,255,0,1);
}

@font-face {
	font-family: 'Strongwild Demo';
	src: url('../font/Strongwild Demo.ttf');
	font-weight: 400!important;
	font-style: normal;
}

h1, h5 {
	font-family: 'Strongwild Demo';
	font-size: 3em!important;
	font-weight:500;
}

/* 
		HEADER 
		 			*/
header {
	width:100%;
	margin:0;
	padding:0;
	display:flex;
	height:auto;
}

#menu-bar-grey {
	width:100%;
	height:100px;
	display:flex;
	flex-direction: row;
	background-color: rgba(50,50,50,1);
}

.logo-grey, .menu-grey {
	margin:20px;
	display: flex;
	width:50%;
	align-items: center;
	color:white;
}

.menu-grey {
	flex-direction: row-reverse;
}

.menu-grey a {
	margin-right:15px;
	text-decoration: none; 
	color:white;
	font-family: 'Arial';
}

/* ************************ VIEW ZONE ***************************** */
/* 
		CONTENT
					*/
.content {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(74,74,128,0.9);
	padding-top:100px;
	padding-bottom:100px;
}

/* 
		LOGIN & SUBSCRIBE
							*/
.session {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100%;
	color: white;
}

.session h3 {
	color:rgba(240,255,0,1);
}


.session a {
	text-decoration: none;
	color: rgba(46,46,80,1);
	font-family: 'Arial';
}

.session a:hover {
	text-decoration: none;
	color: white;
	font-family: 'Arial';
}

.session label {
	font-family: 'Arial';
}
/* 
		INTERFACE APP
							*/

.appli-content {
	display:flex;
	width:100%;
	height:90%;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
	flex-grow: 1;
	justify-content: space-between;
}

.appli-content p, h3, a{
	font-family: 'Arial';
	margin:2px;
}

#tickets {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	width:100%;
	height:auto;
	justify-content: center;
	background-color: rgba(74,74,128,0.9);
}

.ticket {
	display: block;
	width: 400px;
	height:300px;
	margin-top:60px; 
	margin-left:0; 
	margin-right:0px; 
	margin-bottom:60px;
}

.notepad {
	background-color: rgba(255,255,255,1);
	position:relative;
	border-left: 8px solid rgba(50,50,50,0.5);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.notepad p{
	color: rgba(64,64,111,1);
}
.arrow-down {
	width: 0; 
  	height: 0; 
  	border-top: 18px solid transparent;
  	border-bottom: 18px solid transparent;
  	border-left: 20px solid rgba(50,50,50,0.5);
  	position:absolute;
  	top:40px;
  	left:0;
}

.noteform {
	text-align: center;
}

.noteform h5, p {
	color: white;
	margin:10px;
}

.ticket-write {
	border: dashed 1px rgba(64,64,111,1);
	padding:5px;
}

#app-zone {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width:100%;
	height:auto;
}

#app-zone p {
	color:white;
}

.modules {
	display:flex;
	position:relative;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height:400px;
	min-width: 400px;
	width:25%;
}

.modules a {
	color: rgba(240,255,0,1);
	text-decoration: none;
	margin-top: 10px;
}

.status-module {
	background-color: rgba(46,46,80,1);
}

.note-module {
	background-color: rgba(100,100,172,1);
}

.help-module {
	background-color: rgba(74,74,128,1);
}

.profile-module {
	background-color: rgba(64,64,111,1);
	text-align: left;
}

@media screen and (max-width: 640px) {
	.ticket {
		width:100%;
		margin:0;
	}
	.modules {
		width:100%;
		min-width: 300px;
	}
	footer {
		margin:0;
	}
}
/* ************************ FOOTER ***************************** */
/* 
		FOOTER
					*/

footer {
	margin:0;
	padding:0;
	width:100%;
	margin-top: 20px;
}

.footer {
	text-align: center;
}

.footer p, a {
	margin:0;
	padding:0;
	font-family: 'Arial';
	color: grey;
}