body, .container{
	width:100%;
	height:100%;
	max-width: 2000px;
	margin:0;
	padding:0;
	display:flex;
	flex-direction: column;
}

.yellow {
	color:rgba(240,255,0,1);
}

@font-face {
	font-family: 'Strongwild Demo';
	src: url('../font/Strongwild Demo.ttf');
	font-style: normal;
}

h1, h5, h3 {
	font-family: 'Strongwild Demo';
	font-size: 3em!important;
	font-weight: 400;
}

body {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
}

.arrow {
	position:fixed;
	z-index: 3;
	right:38px;
	bottom:38px;
	background-color: white;
	padding:3px;
	border-radius: 8px;
}

.arrow a {
	color:rgba(50,50,50,1);
}

/* -- HEADER -- */
header {
	width:100%;
	height:100%;
	min-height: 1080px;
	margin:0;
	padding:0;
	background-color: rgba(46,46,80,0.4);
}

#menu-bar {
	width:100%;
	height:100px;
	display:flex;
	flex-direction: row;
}

.logo, .menu {
	margin:20px;
	display: flex;
	width:50%;
	align-items: center;
	color:white;
}

.menu {
	flex-direction: row-reverse;
}

.menu a {
	margin-right:15px;
	text-decoration: none; 
	color:white;
	font-family: 'Arial';
}

.menu a:hover {
	margin-right:15px;
	text-decoration: none; 
	color:rgba(50,50,50,1);
}

.welcom-box {
	width:100%;
	min-height:700px;
	margin:0;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.welcom-box a {
	max-width: 350px;
	width:65%;
}

.welcom-box img {
	width:100%;
}

#conditions-bar {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	margin-top:-50px;
	width:100%;
	justify-content: center;
}

.condition {
	width:250px;
	height:200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(74,74,128,1);
	transition: transform .2s;
	color:rgba(46,46,80,1);
}

.condition p {
	font-family: 'Strongwild Demo';
	margin:0!important;
	font-size: 2em!important;
}

.condition:hover {
	transform: scale(1.1);
	color:rgba(240,255,0,1);
}

.welcom-box a{
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-name: fadein;
  animation-name: fadein;
}

.welcom-box a:hover {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-name: scaleX;
	animation-name: scaleX;
	transform :scale(1.1);
}

@media screen and (max-width: 520px) {
	.condition {
		width:100%;
		min-height:250px;
	}

	header {
		min-height: 900px;
	}

	.welcom-box a {
		width:85%;
	}
}

@media screen and (max-width: 330px) {
	header {
		min-height: 700px;
	}

	.welcom-box {
		min-height:400px;
	}
}

@-webkit-keyframes scaleX {
	0% {
	    transform :scale(1);
  	}
  	100% {
	    transform :scale(1.1);
  	}
}

@-webkit-keyframes fadein {
	0% {
	    -webkit-transform: translateY(-30px);
	    transform: translateY(-30px);
	    opacity:0;
  	}
  	50% {
  		-webkit-transform: translateY(-30px);
    	transform: translateY(-30px);
    	opacity:0;
  	}
  	70% {
  		-webkit-transform: translateY(10px);
    	transform: translateY(10px);
	    opacity:0.5;
  	}
  	100% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	    opacity:1;
  	}
}

section {
	width:80%;
	margin:auto;
}

#about-us-bar {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about-us-img {
	width: 40%;
}

.about-us-img img{
	max-width: 100%;
}

.about-us-text {
	text-align: right;
	border-right:6px solid rgba(74,74,128,1);
	width: 40%;
}

@media screen and (max-width: 1000px) {
	.about-us-img {
		width: 95%;
		margin:auto;
	}

	.about-us-img img{
		max-width: 95%;
	}

	.about-us-text {
		text-align: right;
		border-right:6px solid rgba(74,74,128,1);
		width: 95%;
		margin:auto;
	}

	section {
		width:100%;
	}
}

.about-us-text p, h2 {
	margin-right:10px;
	font-family: arial;
}

.about-us-text h2 {
	color:rgba(74,74,128,1);
}

#promo-bar {
	background-color: rgba(50,50,50,1);
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}

.promo-bar-text p {
	font-family: Arial;
	font-size: 1.3em;
	text-align: center;
	color:white;
}

.promo-bar-img {
	position:relative;
	min-height: 80px;
	display:flex;
	align-items: center;
}

.promo-bar-img img {
	max-height: 50px;
	margin-left:30px;
}


.promo-bar-img a {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:60px;
	font-family: Arial;
	font-size: 1.2em;
	text-decoration: none;
	color:white;
}

.promo-bar-img a:hover {
	text-decoration: none;
	color:rgba(240,255,0,1);
}

/* 
		OFFERS-BAR 
						*/
#offers-bar {
	background-color: rgba(74,74,128,1);
	width:100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.offers-bar-text img {
	width:50px;
	margin-right: 5px;
	margin-left: 5px;
}

.offers-bar-text {
	background-color: rgba(74,74,128,1);
	margin-top: 60px;
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.offers-bar-text h3 {
	font-size:1.5em;
	color:white;
	text-align: center;
	margin: 0;
}

.offers-bar-block {
	margin-top: 60px;
	width:80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.offers-block {
	background-color:rgba(46,46,80,1);
	min-height:320px;
	min-width:320px;
	position:relative;
	margin-bottom:100px;
}

.offers-block img {
	position:absolute;
	top:-18px;
	height:60px;
	left:45%;
	transform:translateX(-45%);
}

.offers-block li {
	list-style-type: circle;
	text-align:left;
	font-size : 0.9em;
	font-family: Arial;
	color: white;
	margin-top: 20px;
}

.offers-block p {
	position: absolute;
	bottom:5px;
	font-size:0.9em;
	left:50%;
	transform: translateX(-50%);
}

.offers-block a {
	text-decoration: none;
	font-family: 'Arial';
	color:white;
	padding:5px;
	border: 1px solid rgba(240,255,0,1);
}

.offers-block a:hover {
	color:rgba(240,255,0,1);
	background-color: rgba(74,74,128,1);
	text-decoration: none;
}

.offers-block ul {
	list-style-type: none;
	margin-top: 70px;
}

.offers-block h4 {
	position:absolute;
	font-family: 'Arial';
	top:-30px;
	left:50%;
	transform:translateX(-50%);
	color:rgba(50,50,50,1);
	font-size: 1.5em;
}

#stats-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100px;
}

#stats-bar img {
	width:35px;
}

#stats-bar h4 {
	margin:0;
	padding:0;
	font-size: 1em;
	color:rgba(74,74,128,1);
	font-family: 'Arial';
}

#stats-bar img {
	margin-right: 10px;
}

.stats-bar {
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

footer {
	display: flex;
	flex-direction: row;
	width:100%;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
	background:rgba(50,50,50,1);
}
.footer {
	display: flex;
	flex-direction: row;
	width:100%;
	align-items: center;
	justify-content: center;
}

.footer p {
	margin:0;
	padding:0;
	color:white;
	font-family: 'Arial';
	font-size:0.8em;
}

.footer a {
	margin:0;
	padding:0;
	color:rgba(74,74,128,1);
	font-weight: 500;
	text-decoration: none;
	font-family: 'Arial';
	font-size:1em;
}

.footer a:hover {
	color:rgba(240,255,0,1);
}